<!DOCTYPE html>
<html lang="en" ng-app="audioPlayerApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Juan Posadas </title>

    <!-- Bootstrap -->
    <link href="public/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    
    <!-- Google Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Marcellus+SC' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=PT+Serif' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Philosopher' rel='stylesheet' type='text/css'>

    <!-- Custom CSS -->
    <link href="custom/custom.css" rel="stylesheet">

    <!-- Angular JS && Firebase-->
    <script src="public/angular.min.js"></script>
    <script src="https://cdn.firebase.com/js/client/1.0.18/firebase.js"></script>
    <script src="custom/app.js"></script>
    <script src="custom/controllers.js"></script>
    <script src="custom/services.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">Jp</div>
    </div>

    <div class="wrapper">
      <div class="container">
        <div class="row total-height">

          <div class="col-sm-4 total-height bg-default track-list" ng-controller="TrackListCtrl">
            <div class="track" ng-repeat="track in tracks | orderBy:predicate" ng-click="playTrack(track)" ng-mouseenter="cacheImage(track.image_src)">
              <h4><span ng-bind="track.name"></span></h4>
              <p class="artist"><span ng-bind="track.artist"></span></p>
            </div>
          </div>

          <div class="col-sm-8 bg-default track-player" ng-controller="PlayTrackCtrl">

            <img ng-src="{{model.selectedTrack.image_src}}" class="img-responsive track-img" ng-class="{'img-border-decoration': model.isTrackSelected}"/>

            <h2 class="text-center selected-name"><span ng-bind="model.selectedTrack.name"></span></h2>
            <p class="text-center selected-artist"><span ng-bind="model.selectedTrack.artist"></span></p>

            <ul id="loader" ng-cloak ng-show="soundcloud.isTrackPlaying()">
              <li></li>
              <li></li>
              <li></li>
            </ul>

          </div>

        </div>
      </div>
    </div class>

    <!-- Scripts -->
    <script src="public/jquery-2.1.0.min.js"></script>
    <script src="public/bootstrap/js/bootstrap.min.js"></script>

    <!-- Soundcloud API -->
    <script src="http://connect.soundcloud.com/sdk.js"></script>
    <script src="custom/play.js"></script>

    <!-- Tracking -->
    <script src="custom/tracking.js"></script>
  </body>
</html>
