/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
/* Medium devices (desktops, 992px and up) */
/* Large devices (large desktops, 1200px and up) */


html, body 
{
	height: 100%;
}

/* NAVIGATOR */

.navbar {
	background: #004EBC;
	height: 65px;
	box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3);
}

.navbar-inner {
	font-size: 40px;
	font-family: 'Marcellus SC', serif;
	color: #F9F9FA;
	text-align: center;
	letter-spacing: -2px;
}

@media (min-width: 768px) {
	.navbar {
		height: 100%;
		width: 70px;
	}
	.navbar-inner {
		position: relative;
		top: 45%;
	}
}

/* WRAPPER */

.bg-dark {
	background-color: #000;
}
.bg-white {
	background-color: #F9F9FA;
}
.bg-default {
	background-color: #FFF;
}

.wrapper {
	margin-top: 65px;
	height: 100%;
}

.wrapper .container {
	width: 100%;
	height: 100%;
}

.total-height {
	height: auto;
}

@media (min-width: 768px) {
	.wrapper {
		margin-top: 0;
		margin-left: 70px;
	}
	.total-height {
		height: 100%;
	}
}

/* TRACKLIST */

.track {
	box-shadow: 0 2px 2px -2px #bbb;
	padding: 20px 0 20px 25px;
	font-family: 'PT Serif', serif;
}

.track:hover {
	background-color: #F9F9FA;
	cursor: pointer;
	-webkit-transition: background-color .2s linear;
	   -moz-transition: background-color .2s linear;
			transition: background-color .2s linear;
}

.artist {
	text-transform: uppercase;
	font-size: 12px;
}

.glyphicon.glyphicon-play:hover {
	cursor: pointer;
}

/* PLAYER */

.track-img {
	width: 50%;
	height: auto;
	margin: 50px auto 40px auto;
}

.img-border-decoration {
	padding: 4px;
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 0px; 
	-webkit-transition: border .2s linear;
	   -moz-transition: border .2s linear;
			transition: border .2s linear;
}

.selected-name {
	font-family: 'Philosopher', sans-serif;
}

.selected-artist {
	text-transform: uppercase;
	font-size: 13px;
}

@media (min-width: 768px) {
	.track-img {
		width: 70%;
	}
}

@media (min-width: 992px) {
	.track-img {
		width: 50%;
	}
}

@media (min-width: 1200px) {
	.track-img {
		max-width: 400px;
	}
}

/* LOADER */

.visible {
	visibility: visible !important;
}

#loader
{
	visibility: hidden;
	position:relative;
	padding: 0;
	top:50%;
	left: 50%;
	margin-left : -21px;
	margin-top: 50px;
	width:45px;
	height:60px;
  	list-style:none;
}

#loader li
{
  background-color: #000;
  width:10px;
  height:10px;
  float:left;
  margin-right:5px;
  box-shadow: 0px 80px 20px rgba(0,0,0,0.2);
}

@-webkit-keyframes 'laadbalk' 
{
	0%
	{
		height: 10px;
		margin-top: 25px;
	}
	50%
	{
		height:50px;
		margin-top: 0px;
	}
	100%
	{
		height: 10px;
		margin-top: 25px;
	}
}

#loader li:nth-child(1)
{
  -webkit-animation: laadbalk 0.8s ease-in-out infinite 0;
}
#loader li:nth-child(2){
  -webkit-animation: laadbalk 0.8s ease-in-out infinite -0.2s;
}
#loader li:nth-child(3){
  -webkit-animation: laadbalk 0.8s ease-in-out infinite -0.4s;
}




