/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
/* Medium devices (desktops, 992px and up) */
/* Large devices (large desktops, 1200px and up) */


html, body 
{
	height: 100%;
}

body
{
	background-color: #F9F9FA;
}

/* Navigator */

.navbar {
	background: #004EBC;
	height: 65px;
	box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.3);
}

.navbar-inner {
	font-size: 40px;
	font-family: 'Marcellus SC', serif;
	color: #F9F9FA;
	text-align: center;
	letter-spacing: -2px;
}

@media (min-width: 768px) {
	.navbar {
		height: 100%;
		width: 70px;
	}
	.navbar-inner {
		position: relative;
		top: 45%;
	}
}




/* LOADER */

#loader
{
	position:fixed;
	padding: 0;
	top:50%;
	left: 50%;
	margin-top: -30px;
	margin-left : -21px;
	width:45px;
	height:60px;
  	list-style:none;
}

#loader li
{
  background-color: #000;
  width:10px;
  height:10px;
  float:left;
  margin-right:5px;
  box-shadow: 0px 80px 20px rgba(0,0,0,0.2);
}

@-webkit-keyframes 'laadbalk' 
{
	0%
	{
		height: 10px;
		margin-top: 25px;
	}
	50%
	{
		height:50px;
		margin-top: 0px;
	}
	100%
	{
		height: 10px;
		margin-top: 25px;
	}
}

#loader li:nth-child(1)
{
  -webkit-animation: laadbalk 0.8s ease-in-out infinite 0;
}
#loader li:nth-child(2){
  -webkit-animation: laadbalk 0.8s ease-in-out infinite -0.2s;
}
#loader li:nth-child(3){
  -webkit-animation: laadbalk 0.8s ease-in-out infinite -0.4s;
}




